<!DOCTYPE html>
<html     xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Spring Security Example</title>
    <th:block th:replace="base :: head"></th:block>
</head>
<body>
<th:block th:replace="base :: nav"></th:block>
<br/>
<br/>
<br/>
<br/>
<div class="container">
    <br /><br /><br />
    <h4>New Job</h4>
    <form autocomplete="off" action="#" th:object="${job}" th:action="@{/joblist}"
           method="post">
        <div class="form-group">
            <label for="title">Title <mark><strong><span th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</span></strong></mark></label>
            <input type="text" class="form-control" id="title" placeholder="Title" th:field="*{title}" />
        </div>
        <div class="form-group">
            <label for="employer">Employer<mark><strong><span th:if="${#fields.hasErrors('employer')}" th:errors="*{employer}">Employer Error</span></strong></mark></label>
            <input type="text" class="form-control" id="employer" placeholder="Employer" th:field="*{employer}" />
        </div>
        <div class="form-group">
            <label for="salaryRange">Salary Range <mark><strong><span th:if="${#fields.hasErrors('salaryRange')}" th:errors="*{salaryRange}"Salary Range Error</span></strong></mark></label>
            <input type="text" class="form-control" id="salaryRange" placeholder="salaryRange" th:field="*{salaryRange}" />
        </div>
        <div class="form-group">
            <label for="description">Description <mark><strong><span th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</span></strong></mark></label>
            <input type="text" class="form-control" id="description" placeholder="Description" th:field="*{description}" />
        </div>
        <div class="form-group">
            <label for="skills">Skills <mark><strong><span th:if="${#fields.hasErrors('skills')}" th:errors="*{skills}">Skills</span></strong></mark></label>
            <input type="text" class="form-control" id="skills" placeholder="Skills" th:field="*{skills}" />
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>


    <!-- NEW RESUME -->

    <h4>New Resume</h4>
    <form autocomplete="off" action="#" th:object="${record}" th:action="@{/user}"
          method="post">
        <div class="form-group">
            <label for="first">First <mark><strong><span th:if="${#fields.hasErrors('first')}" th:errors="*{first}">First Error</span></strong></mark></label>
            <input type="text" class="form-control" id="first" placeholder="First" th:field="*{first}" />
        </div>
        <div class="form-group">
            <label for="middle">Middle <mark><strong><span th:if="${#fields.hasErrors('middle')}" th:errors="*{middle}">Middle Error</span></strong></mark></label>
            <input type="text" class="form-control" id="middle" placeholder="Middle" th:field="*{middle}" />
        </div>
        <div class="form-group">
            <label for="last">Last <mark><strong><span th:if="${#fields.hasErrors('last')}" th:errors="*{last}">Last Error</span></strong></mark></label>
            <input type="text" class="form-control" id="last" placeholder="Last" th:field="*{last}" />
        </div>
        <div class="form-group">
            <label for="degree">Degree <mark><strong><span th:if="${#fields.hasErrors('degree')}" th:errors="*{degree}">Degree Error</span></strong></mark></label>
            <input type="text" class="form-control" id="degree" placeholder="Degree" th:field="*{degree}" />
        </div>
        <div class="form-group">
            <label for="field">Field <mark><strong><span th:if="${#fields.hasErrors('field')}" th:errors="*{field}">Field Error</span></strong></mark></label>
            <input type="text" class="form-control" id="field" placeholder="Field" th:field="*{field}" />
        </div>
        <div class="form-group">
            <label for="school">School<mark><strong><span th:if="${#fields.hasErrors('school')}" th:errors="*{school}">Field Error</span></strong></mark></label>
            <input type="text" class="form-control" id="school" placeholder="Field" th:field="*{school}" />
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div><!-- /.container -->
<th:block th:replace="base :: footlinks"></th:block>
</body>
</html>